@mixin clickableElementButton {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.9;
  }
}
button {
  margin-left: 100px;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: orange;
  color: white;
  border: 1px solid white;
  @include clickableElementButton;
}
